/* styles.css */
body {
    background-color: #333;
    color: #fff;
  }
  
  @font-face {
    font-family: 'VotrePolice'; /* Nom de la police personnalisée */
    src: url('fonts/ethnocentric\ rg.otf') format('woff'); /* Chemin vers le fichier WOFF de la police */
    /* Ajoutez des règles pour différentes variations de la police si nécessaire */
}

body {
    font-family: 'VotrePolice', sans-serif;
    /* ... autres styles ... */
}
